
.header-title {
  font-weight: bold;
  font-size: 100px;
  font-family: Helvetica;
  color: khaki;
  text-align: center;
  background-image: url("https://trivita.ua/media/wysiwyg/blog/shifer_statia_1.jpg");
}

.title {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

figaption b{
  font-family: Helvetica;
  font-wight: bold;
  color: blue
}
